{% extends "base.html" %}
{%block title%}{{title}}{%endblock%}
{% block about %}

 	        <h1>Проект находится в стадии разработки</h1>
            <br>
            <h2>Представляет собой домашнее задание учебного блока №31 </h2>
 <p>На главной странице отображаются краткие сведения о погоде в выбранном городе</p>
 <p>Хранятся данные предыдущих запросов</p>
 <p>Записи из истории просмотров можно удалить, нажав на соответствующую кнопку</p>
 <p>На странице "Подробно" выводится подробный прогноз погоды по последнему запросу
     и карта соответствующего города</p>
            <h6>Выполнил : Сергей Петровский</h6>

{% endblock %}